* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

:root {
  /*Colors*/
  --primary-color: #f2f2f2;
  --secondary-color: #000;
  --tertiary-color: #fff852;
  --dropdownbtn-background-color: #f6f6f6;
  --dropdowncontent-background-color: #f1f1f1;
  --shoescard-background-color: #f9f9f9;
  --shoescard-border-color: #d3d3d3;
  --dropdowncontent-hover-color: #ddd;
  --footer-text-color: #fff;

  /*Border radius*/
  --border-radius: 5px;

  /*Spacing*/

  --margin-s: 10px;
  --margin-m: 20px;
  --margin-l: 25px;

  --padding-xs: 5px;
  --padding-s: 10px;
  --padding-m: 12px;
  --padding-l: 16px;
  --padding-xl: 20px;
  --padding-xxl: 40px;

  --gap-xs: 5px;
  --gap-s: 10px;
  --gap-m: 15px;
  --gap--l: 20px;
}

body {
  background-color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
  display: flex;
  padding: var(--padding-xxl);
  width: 100%;
}

header > img {
  height: 50px;
  width: 50px;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.categoriesList {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.hamburgerMenu {
  display: none;
}

.liCategoryList a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.rightSideMenu {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  gap: var(--gap-s);
}

.btn-1,
.btn-2 {
  height: 30px;
  width: 30px;
  padding: var(--padding-xs);
  border-radius: var(--border-radius);
  border-style: none;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover {
  background-color: var(--tertiary-color);
}

button {
  cursor: pointer;
}

@media (max-width: 600px) {
  .categoriesList {
    gap: var(--gap-m);
  }
}

@media (max-width: 500px) {
  header {
    padding: var(--padding-s);
  }

  nav {
    flex-direction: column; /* Cambia la dirección del flex para pantallas pequeñas */
    align-items: flex-start; /* Alinea los elementos al inicio */
    padding: var(
      --padding-s
    ); /* Añadir padding para que no esté pegado a los bordes */
  }

  .rightSideMenu {
    width: 100%; /* Ajusta el ancho para que ocupe el espacio disponible */
    justify-content: space-around; /* Distribuye los botones de manera uniforme */
    margin-top: var(--margin-l); /* Añadir margen superior si es necesario */
  }

  .categoriesList {
    display: none;
  }

  .hamburgerMenu {
    display: block;
    margin-left: auto;
    height: 40px; /* Ajustar el tamaño del menú hamburguesa para pantallas pequeñas */
    width: 40px;
  }
}

/* Media Query para pantallas muy pequeñas (375px y menos) */
@media (max-width: 414px) {
  header {
    padding: var(
      --padding-xs
    ); /* Reducir aún más el padding para pantallas extremadamente pequeñas */
  }

  .rightSideMenu {
    width: 100%; /* Asegura que el contenedor derecho ocupe todo el ancho */
    gap: var(
      --gap-xs
    ); /* Reduce el espacio entre los botones si es necesario */
  }

  .hamburgerMenu {
    height: 35px; /* Ajustar el tamaño del menú hamburguesa para pantallas pequeñas */
    width: 35px;
  }
}

.divCoverImage {
  height: 250px;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #171516,
    #1b191b,
    #201e20,
    #232226,
    #27272b,
    #343337,
    #423f44,
    #504c51,
    #6c6669,
    #888181,
    #a49e9c,
    #bfbcb9
  );
  padding: var(--padding-xl);
}

.imgCover {
  height: 200px;
  width: 100%;
}

.divFilterButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-s);
  margin-top: var(--margin-m);
  position: relative; /* Necesario para el posicionamiento absoluto del dropdown */
}

/* Dropdown Button */
.dropDownBtn {
  background-color: var(--dropdownbtn-background-color);
  color: var(--secondary-color);
  padding: var(--padding-s) var(--padding-xl);
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: var(--margin-s);
}

.dropDownBtn:hover {
  background-color: var(--tertiary-color);
}

/* Dropdown Content (Hidden by Default) f1*/
.dropDownContent {
  display: none;
  position: absolute;
  background-color: var(--dropdowncontent-background-color);
  min-width: 110px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropDownContent a {
  color: var(--secondary-color);
  padding: var(--padding-m) var(--padding-l);
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropDownContent a:hover {
  background-color: var(--dropdowncontent-hover-color);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

#actionFilterBtn,
#actionResetBtn {
  background-color: var(--dropdownbtn-background-color); /* Fondo blanco */
  color: var(--secondary-color); /* Texto negro */
  padding: var(--padding-s) var(--padding-xl);
  border: 2px solid #d3d3d3; /* Borde gris claro */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: var(--margin-s);
}

#actionFilterBtn:hover,
#actionResetBtn:hover {
  background-color: var(--tertiary-color);
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap--l);
  margin-top: var(--margin-m);
  margin-bottom: var(--margin-m);
}

.shoesCard {
  width: 22%;
  border-style: solid; /* Estilo de borde sólido */
  border-width: 1px; /* Grosor del borde, ajusta a 1px para que sea fino */
  border-color: var(
    --shoescard-border-color
  ); /* Color del borde, un gris claro */
  padding: var(--padding-s); /* Añadir un poco de espacio interno, opcional */
  margin: var(--margin-s); /* Espacio externo entre las tarjetas, opcional */
  border-radius: 5px; /* Esquinas redondeadas, opcional */
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para el contenedor */
  background-color: var(--shoescard-background-color); /* Fondo claro */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shoesCard h2 {
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: var(--margin-s);
}

.shoesCard p {
  margin: 0;
}

.details {
  margin-top: auto; /* Empuja el contenedor hacia el fondo de la tarjeta si es necesario */
}

/* Alineación específica de modelo y precio */
.shoesCard p:first-of-type {
  text-align: left;
}

.shoesCard p:last-of-type {
  text-align: left;
  font-weight: bold; /* Opción de dar mayor peso al precio */
}

.shoesCard img {
  height: auto;
  max-width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible dentro de la tarjeta */
  object-fit: contain; /* Ajusta la imagen para que se vea completa dentro de su contenedor */
}

/* Estilos para el botón comprar */
.buy-btn {
  background-color: var(--dropdownbtn-background-color); /* Fondo blanco */
  color: var(--secondary-color); /* Texto negro */
  padding: var(--padding-s) var(--padding-xl);
  border: 2px solid #d3d3d3; /* Borde gris claro */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: var(--margin-s);
}

.buy-btn:hover {
  background-color: var(
    --tertiary-color
  ); /* Fondo amarillo más oscuro al hacer hover */
}

/* Media Query para Tablets */
@media (max-width: 1024px) and (min-width: 735px) {
  .shoesCard {
    width: 30%; /* Ajusta el ancho para tabletas */
  }
}

/* Media Query para Móviles */
@media (max-width: 734px) {
  section {
    flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
    align-items: center; /* Centra las tarjetas */
  }

  .shoesCard {
    width: 90%; /* Ajusta el ancho para móviles */
  }
}

/* Estilos básicos para el footer */
footer {
  background-color: var(--secondary-color);
  padding: var(--padding-s);
  text-align: center;
}

h3 {
  color: var(--footer-text-color);
}

/* Flexbox para el contenedor .moreInfo */
.moreInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto; /* Centrar el contenido horizontalmente */
  padding: var(--padding-xl);
  margin-top: 20px;
}

/* Cada .section ocupa un tercio del espacio disponible */
.section {
  width: 30%; /* Cada sección toma el 30% del ancho */
  box-sizing: border-box;
  text-align: left;
}

/* Estilos para el título de las secciones */
.section h3 {
  margin-bottom: var(--margin-s);
  font-size: 18px;
}

/* Estilos para la lista ul */
.section ul {
  list-style: none;
  padding: 0;
}

/* Estilos para los enlaces */
.section ul li a {
  text-decoration: none;
  color: var(--footer-text-color);
}

.section a:hover {
  color: var(--dropdowncontent-hover-color);
}

/* Estilos responsive para pantallas más pequeñas */
@media (max-width: 768px) {
  .section {
    width: 100%; /* Cada sección toma el 100% del ancho en pantallas pequeñas */
    margin-bottom: var(--margin-m); /* Espacio entre las secciones */
  }
}
